@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

* {
  font-family: "Cormorant Garamond", serif;
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(245, 238, 230);
  > main {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    > .left {
      width: 35%;
      height: 38%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      > img {
        width: 100%;
        height: 100%;
      }
    }
    > .right {
      width: 38%;
      height: 40%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      padding: 1rem 0 0 1.5rem;
      > h1 {
        font-size: 2.7rem;
        margin-bottom: 0.7rem;
        text-decoration: underline;
      }
      > p {
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }
      > #button {
        text-decoration: none;
        color: white;
        border-radius: 1.5rem;
        font-size: 1.4rem;
        font-weight: bold;
        width: 100px;
        padding: 0.3rem;
        text-align: center;
        background: linear-gradient(to bottom left, #ddbdb5 30%, #74a1a4 100%);
        box-shadow: 0 4px 8px 0 rgba(22, 21, 21, 0.2),
          0 6px 20px 0 rgba(241, 238, 238, 0.19);
      }
    }
    > #popup {
      height: 200px;
      width: 420px;
      padding: 2rem;
      background-color: white;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: 200ms ease-in-out;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 2rem;
      z-index: 10;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      > .x-button {
        border: none;
        background: none;
        outline: none;
        border-radius: 0.5rem;
        position: absolute;
        right: 5%;
        top: 15%;
        cursor: pointer;
      }
      > h2 {
        font-size: 2.2rem;
      }
      > p {
        font-size: 1.4rem;
      }
      > #reset-btn {
        transform: scale(0);
        padding: 0.3rem;
        border-radius: 0.4rem;
        border: 2px solid #ddbdb5;
        > #reset {
          text-decoration: none;
          color: black;
        }
      }
      > #reset-btn.active {
        transform: scale(1);
      }
    }
    > #popup.active {
      transform: translate(-50%, -50%) scale(1);
    }
    > #overlay {
      position: fixed;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }
    > #overlay.active {
      pointer-events: all;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1000px) {
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    > main {
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      margin: 0;
      > .left {
        width: 40%;
        height: 41%;
      }
      > .right {
        width: 40%;
        height: 43%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  body {
    height: 100vh;
    width: 100vw;
    > main {
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      > .left {
        width: 70%;
        height: 45vh;
      }
      > .right {
        width: 70%;
        height: 43vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  body {
    height: 100vh;
    width: 100vw;
    > main {
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0rem;
      > .left {
        width: 65%;
        height: 26vh;
      }
      > .right {
        width: 65%;
        height: 58vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        > h1 {
          font-size: 2.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  body {
    height: 100vh;
    width: 100vw;
    > main {
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      > .left {
        width: 70%;
        height: 24vh;
      }
      > .right {
        width: 70%;
        height: 63vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        > h1 {
          font-size: 2.3rem;
        }
      }
    }
  }
}
